.results {
    background-color: #fff;
    max-height: 30vh;
    max-width: 40vw;
    overflow-y: scroll;
    min-height: 10vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 5px;
    &::-webkit-scrollbar {
        display: none;
    }

    >.item {
        display: flex;
        width: 100%;
        height: 9vh;
        border: 0 thick white;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #F3F7FF;
        }
        
        >.flag {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            width: 5vw;
            margin-right: 5px;
            >img {
                max-width: 100%;
                max-height: 50%;
            }
        }
        >.description {
            flex-grow: 4;
            padding-top: 10px;
            padding-left: 5px;
            padding-bottom: 10px;
            color: rgb(122, 122, 122);
            font-weight: 200;
            >.desc-name {

            }
            >.desc-info {

            }
        }
    }

    >.item:not(:last-child) {
        margin-bottom: 2px;
    }
}