.App {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    >h1 {
        text-align: center;
        margin-top: .7rem;
        font-weight: 300;
        letter-spacing: .2rem;
        color: rgb(98, 98, 98);
    }
}